body, footer {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  background-color:  #1f1f1f;
}

.navbar {
  background-color: red ;
}

.custom-toggler:focus,
.custom-toggler:active {
  outline: none;
  box-shadow: none;
}

.custom-toggler {
  background-color: transparent !important;
  border: black; 
  box-shadow: none;  
}

nav .nav-link .active {
  background-color: #fff;
  color: #49FFBD;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover, a {
  color: #000;
}

.navbar-brand {
  font-family: Montserrat, sans-serif, cursive;
}

header {
  background: linear-gradient(to right, #239096, #49FFBD);
}

.container {
  display: block;
}

#sobre { 
  p {
    text-align: justify;
    padding-right: 2em;
    padding-top: 1em;
  }
}


.card-1 {
  color: #111;
  background-color: #4ef9ba;
  border: 3px solid #fff;
  border-radius: 12px;
    p {
    color: #101;
    }
  }

  .card-2 {
    color: #fff;
    background-color: #111;
    border: 3px solid #26ffb0;
    border-radius: 12px;
    .bi-rocket-takeoff-fill {
      color: #26ffb0;
    }
    h4 {
      color: #26ffb0;
    }
      p {
      color: #fff;
    }
  }

  .card-3 {
    color: #000;
    background-color: #26ffb0;
    border: 3px solid #fff;
    border-radius: 12px;
      p {
      color: #000;
      }
    }

.navbar-toggler {
  background-color: #fff;
}

.card i {
  font-size: 58px;
}

h1, h2, p, h3, li, .nav-item-2 {
  color: #fff;
}

.custom-bg {
    background-color: #f0f8ff; /* Substitua pela cor desejada */
    color: #000; /* Ajuste a cor do texto se necessário */
}

.accordion-item{
  background-color: #000;
  color: #26ffb0;
}

.form-label {
  color: #26ffb0;
}

.btn-submit {
  background-color: rgb(13, 188, 13);
  color: #fff;
}

.btn-submit:hover {
  background-color: #26ffb0;
}

.termos-button {
  a{
    color: #fff;
  }  
}

footer {
  padding: 20px; 
  text-align: center; 
  font-size: 14px; color: #6c757d;
}

.nav-link-2 {
    display: inline-block;
    transition: transform 0.6s ease;
}

.nav-link-2:hover {
    transform: translateX(20px);
}
